@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@font-face {
  font-family: "Circular Std Book";
  src: url("/../fonts/circular_book/circular_book.woff2") format("woff2"), url("/../fonts/circular_book/circular_book.woff") format("woff"), url("/../fonts/circular_book/circular_book.otf") format("opentype"), url("/../fonts/circular_book/circular_book.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std Book Italic";
  src: url("/../fonts/circular_book_italic/circular_book_italic.woff2") format("woff2"), url("/../fonts/circular_book_italic/circular_book_italic.woff") format("woff"), url("/../fonts/circular_book_italic/circular_book_italic.otf") format("opentype"), url("/../fonts/circular_book_italic/circular_book_italic.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std Medium";
  src: url("/../fonts/circular_medium/circular_medium.woff2") format("woff2"), url("/../fonts/circular_medium/circular_medium.woff") format("woff"), url("/../fonts/circular_medium/circular_medium.otf") format("opentype"), url("/../fonts/circular_medium/circular_medium.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std Medium Italic";
  src: url("/../fonts/circular_medium_italic/circular_medium_italic.woff2") format("woff2"), url("/../fonts/circular_medium_italic/circular_medium_italic.woff") format("woff"), url("/../fonts/circular_medium_italic/circular_medium_italic.otf") format("opentype"), url("/../fonts/circular_medium_italic/circular_medium_italic.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std Black";
  src: url("/../fonts/circular_black/circular_black.woff2") format("woff2"), url("/../fonts/circular_black/circular_black.woff") format("woff"), url("/../fonts/circular_black/circular_black.otf") format("opentype"), url("/../fonts/circular_black/circular_black.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std Black Italic";
  src: url("/../fonts/circular_black_italic/circular_black_italic.woff2") format("woff2"), url("/../fonts/circular_black_italic/circular_black_italic.woff") format("woff"), url("/../fonts/circular_black_italic/circular_black_italic.otf") format("opentype"), url("/../fonts/circular_black_italic/circular_black_italic.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std Bold";
  src: url("/../fonts/circular_bold/circular_bold.woff2") format("woff2"), url("/../fonts/circular_bold/circular_bold.woff") format("woff"), url("/../fonts/circular_bold/circular_bold.otf") format("opentype"), url("/../fonts/circular_bold/circular_bold.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std Black Italic";
  src: url("/../fonts/circular_bold_italic/circular_bold_italic.woff2") format("woff2"), url("/../fonts/circular_bold_italic/circular_bold_italic.woff") format("woff"), url("/../fonts/circular_bold_italic/circular_bold_italic.otf") format("opentype"), url("/../fonts/circular_bold_italic/circular_bold_italic.ttf") format("truetype");
}
@font-face {
  font-family: "Platform Regular";
  src: url("/../fonts/platform_regular/platform_regular.eot");
  src: url("/../fonts/platform_regular/platform_regular.eot?#iefix") format("embedded-opentype"), url("/../fonts/platform_regular/platform_regular.woff2") format("woff2"), url("/../fonts/platform_regular/platform_regular.woff") format("woff"), url("/../fonts/platform_regular/platform_regular.ttf") format("truetype");
}
@font-face {
  font-family: "Platform Medium";
  src: url("/../fonts/platform_medium/platform_medium.eot");
  src: url("/../fonts/platform_medium/platform_medium.eot?#iefix") format("embedded-opentype"), url("/../fonts/platform_medium/platform_medium.woff2") format("woff2"), url("/../fonts/platform_medium/platform_medium.woff") format("woff"), url("/../fonts/platform_medium/platform_medium.ttf") format("truetype");
}
@font-face {
  font-family: "Platform Bold";
  src: url("/../fonts/platform_bold/platform_bold.eot");
  src: url("/../fonts/platform_bold/platform_bold.eot?#iefix") format("embedded-opentype"), url("/../fonts/platform_bold/platform_bold.woff2") format("woff2"), url("/../fonts/platform_bold/platform_bold.woff") format("woff"), url("/../fonts/platform_bold/platform_bold.ttf") format("truetype");
}
.img-card {
  height: 450px;
  background-color: white;
}

.img-card {
  transition: transform 0.15s;
}
.img-card:hover {
  transform: translate(0px, -3px);
  -webkit-box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
  -moz-box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
  box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
}

.img-card-text-description, .img-card-text-title, .img-card-item-type {
  font-family: "Circular Std Book";
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  line-height: 1.4rem;
}

.page-gap, .footer-flex, hr.f, .section-wrapper, #greetings-wrapper, .flexbox-container {
  margin-left: 15vw;
  margin-right: 15vw;
}

html {
  background-color: #f7f7f7;
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
}

.nav-bar {
  display: flex;
  justify-content: right;
  align-items: center;
}

a {
  color: #011434;
  text-decoration: none;
}

.navbar-text {
  font-family: "Circular Std Bold";
  margin-left: 1.7vw;
  margin-top: 3px;
  color: #011434;
  font-size: 1rem;
}

.navbar-text:hover {
  color: grey;
}

#github-icon {
  height: 1.6rem;
  margin-top: 4px;
}

#github-icon:hover {
  filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(90%) contrast(80%);
}

#linkedin-icon {
  height: 1.5rem;
  margin-bottom: 1.5px;
  fill: #f7f7f7;
}

#linkedin-icon:hover {
  filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(90%) contrast(80%);
}

#greetings-wrapper {
  margin-top: 10vh;
  width: 40%;
  color: #011434;
}

#greetings-heading, .headline {
  font-family: "Circular Std Bold";
  font-weight: 600;
  font-size: 2.5rem;
  color: #011434;
}

#greetings-text {
  margin-top: 20px;
  margin-bottom: 10vh;
  font-family: "Crimson Text", serif;
  color: #011434;
  font-size: 1.5rem;
}

#signature {
  height: 40px;
  margin-top: 5px;
}

.link {
  text-decoration: underline;
  font-size: 90%;
  text-transform: uppercase;
  color: #011434;
}

@media (max-width: 880px) {
  #greetings-wrapper {
    margin-top: 15vh;
    width: 70vw;
  }
}
.section-wrapper {
  color: #011434;
}

.division-line {
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

.content-wrapper-flex {
  display: flex;
}

.h1 {
  font-family: "Circular Std Bold";
  font-size: 1.6rem;
  font-weight: 800;
  width: 260px;
}

.subject-title {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: -10px;
}

.fineprint, .project-description-fineprint {
  color: grey;
  text-transform: uppercase;
  font-family: "Circular Std Bold";
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: -10px;
}

.supplement-text {
  width: 50vw;
  font-size: 1.2rem;
  font-family: "Crimson Text", serif;
}

.items {
  margin-bottom: 3vh;
}

hr.f {
  margin-top: 3rem;
  margin-bottom: 0;
  border-width: 0;
  border-top: 1px solid #8a9ca8;
  text-align: left;
}

.footer-flex {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-left: 0;
  margin-right: 1.2vw;
  margin-top: 3px;
  color: #011434;
}

#footer-text {
  margin-top: 5px;
  font-size: 1rem;
  font-family: "Crimson Text", serif;
}

#github-icon-footer {
  height: 1.3rem;
  margin-top: 3.5px;
}

#github-icon-footer:hover {
  filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(90%) contrast(80%);
}

#linkedin-icon-footer {
  height: 1.3rem;
  fill: #f7f7f7;
}

#linkedin-icon-footer:hover {
  filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(90%) contrast(80%);
}

#signature-footer {
  height: 30px;
  margin-top: 7px;
}

.headline {
  text-transform: uppercase;
  font-weight: 800;
}

.projects-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.img-card {
  background-color: white;
  overflow: hidden;
  position: relative;
  height: max-content;
  min-height: 550px;
}

.img-card-text-wrapper {
  margin: 25px;
}

.img-card-image-wrapper {
  width: 393.33px;
  height: 200px;
  overflow: hidden;
}

.img-card-img {
  width: 100%;
  object-fit: cover;
}

.img-card-item-type {
  font-size: 1rem;
  margin-bottom: 10px;
}

.img-card-text-title {
  font-family: "Circular Std Bold";
}

.img-card-text-description {
  font-size: 1rem;
  margin-top: 1rem;
}

.image-card-link-wrapper {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.white-space-footer {
  height: 15vh;
}

.project-description-fineprint {
  margin-top: 5px;
  margin-bottom: 0;
}

.blog-container {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 9vh;
}

.blog-text-wrapper {
  margin-left: 4.5vw;
  margin-right: 4.5vw;
}

.blog-subtitle {
  font-family: "Circular Std Bold";
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.5vh;
  margin-top: 5vh;
  color: #011434;
}

.paragraph {
  font-size: 1.25rem;
  font-family: "Crimson Text", serif;
  color: #011434;
  position: relative;
  z-index: 2;
  margin-bottom: 1vh;
}

.full-width-picture {
  width: 100%;
}

.screely {
  margin-top: -50px;
  margin-bottom: -70px;
  z-index: 1;
}

.non-screely {
  margin: 100px;
}

img {
  align-self: center;
}

.right-picture-label-wrapper {
  float: right;
  position: relative;
  width: 28vw;
  margin-top: 1vh;
  margin-left: 2vw;
  margin-bottom: 2vh;
}

.right-picture {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.external-button {
  padding: 16px 20px;
  padding-top: 19px;
  text-align: center;
  display: inline-block;
  font-family: "Circular Std Bold";
  font-size: 1rem;
  font-weight: 800;
  margin-left: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.external-button {
  background-color: transparent;
  color: #011434;
  border: 2px solid #011434;
}

.external-button:hover {
  background-color: #011434;
  color: white;
}

.image-w-title-wrapper {
  position: relative;
  width: 28.5vw;
}

.image-w-title {
  width: 28.5vw;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.horizontal-img-flexbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.floating-label {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #011434;
  color: white;
  padding: 15px 20px 13px;
  text-transform: uppercase;
  font-family: "Circular Std Bold";
}

/*# sourceMappingURL=style.css.map */
