// declaring variables
$paleblue: #e8f1f8;
$navy: #011434;
$paleblue-hover: #dde9f8;

.page-gap {
	margin-left: 15vw;
	margin-right: 15vw;
}

html,
body {
	background-color: $paleblue;
}

.flexbox-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@extend .page-gap;
	margin-top: 10vh;
}

.nav-bar {
	display: flex;
	justify-content: right;
	align-items: center;
}

a {
	color: $navy;
	text-decoration: none;
}

.navbar-text {
	font-family: "Josefin Sans", sans-serif;
	margin-left: 1.7vw;
	margin-top: 3px;
	color: $navy;
	font-size: 1rem;
}

.navbar-text:hover {
	color: grey;
}

#github-icon {
	height: 1.6rem;
	margin-top: 4px;
}

#github-icon:hover {
	filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(90%) contrast(80%);
}

#linkedin-icon {
	height: 1.5rem;
	margin-bottom: 1.5px;
	fill: $paleblue;
}

#linkedin-icon:hover {
	filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(90%) contrast(80%);
}

#greetings-wrapper {
	margin-top: 40vh;
	@extend .page-gap;
	width: 40%;
	color: $navy;
}

#greetings-heading {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 600;
	font-size: 2.5rem;
	color: $navy;
}

#greetings-text {
	margin-top: 20px;
	margin-bottom: 15vh;
	font-family: "Crimson Text", serif;
	color: $navy;
	font-size: 1.5rem;
}

#signature {
	height: 50px;
	margin-top: 5px;
}

.link {
	text-decoration: underline;
	font-size: 90%;
	text-transform: uppercase;
	color: $navy;
}

@media (max-width: 880px) {
	#greetings-wrapper {
		margin-top: 15vh;
		@extend .page-gap;
		width: 70vw;
	}
}

.section-wrapper {
	@extend .page-gap;
	color: $navy;
}

.division-line {
	margin-top: 3vh;
	margin-bottom: 2vh;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 800;
}

.content-wrapper-flex {
	display: flex;
}

.h1 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.6rem;
	font-weight: 800;
	width: 260px;
}

.subject-title {
	font-family: "Crimson Text", serif;
	font-style: italic;
	font-size: 1.6rem;
	margin-bottom: -10px;
}

.fineprint {
	color: grey;
	text-transform: uppercase;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: -10px;
}

.supplement-text {
	width: 50vw;
	font-size: 1.2rem;
	font-family: "Crimson Text", serif;
}

.items {
	margin-bottom: 3vh;
}

hr.f {
	margin-top: 3rem;
	margin-bottom: 0;
	border-width: 0;
	border-top: 1px solid #8a9ca8;
	text-align: left;
	@extend .page-gap;
}

.footer-flex {
	display: flex;
	@extend .page-gap;
	height: 10vh;
	align-items: center;
	justify-content: space-between;
}

.footer-nav {
	display: flex;
	align-items: center;
}
.footer-logo {
	margin-left: 0;
	margin-right: 1.2vw;
	margin-top: 3px;
	color: $navy;
}

#footer-text {
	margin-top: 5px;
	font-size: 1rem;
	font-family: "Crimson Text", serif;
}

#github-icon-footer {
	height: 1.3rem;
	margin-top: 3.5px;
}

#github-icon-footer:hover {
	filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(90%) contrast(80%);
}

#linkedin-icon-footer {
	height: 1.3rem;
	fill: $paleblue;
}

#linkedin-icon-footer:hover {
	filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(90%) contrast(80%);
}

#signature-footer {
	height: 30px;
	margin-top: 7px;
}

.headline {
	@extend #greetings-heading;
	text-transform: uppercase;
	font-weight: 800;
}

.projects-flex-container {
	@extend .page-gap;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 70vw;
	flex-wrap: wrap;
	margin-top: 8vh;
}

.project-container {
	width: 23vw;
	height: 650px;
	margin-right: 0.32vw;
}

.project-container:hover {
	background-color: $paleblue-hover;
}

.project-featured-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vw;
	width: 21vw;
}

.project-title {
	@extend .subject-title;
	margin-top: 25px;
	margin-left: 1vw;
	font-weight: 550;
}

.project-info {
	margin-left: 1vw;
	margin-top: 15px;
	color: grey;
	text-transform: uppercase;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	font-size: 0.9rem;
}

.project-description {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.75vw;
	width: 21vw;
	font-size: 1.25rem;
	font-family: "Crimson Text", serif;
}

.white-space-footer {
	height: 15vh;
}

.project-description-fineprint {
	@extend .fineprint;
	margin-top: 5px;
	margin-bottom: 0;
}

.blog-container {
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 9vh;
}

.blog-text-wrapper {
	margin-left: 4.5vw;
	margin-right: 4.5vw;
}

.blog-subtitle {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.6rem;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 1.5vh;
	margin-top: 5vh;
	color: $navy;
}

.paragraph {
	font-size: 1.25rem;
	font-family: "Crimson Text", serif;
	color: $navy;
	position: relative;
	z-index: 2;
	margin-bottom: 1vh;
}

.full-width-picture {
	width: 100%;
}

.screely {
	margin-top: -50px;
	margin-bottom: -70px;
	z-index: -1;
}

.non-screely {
	margin: 100px;
}

img {
    align-self: center;
}

.right-picture {
	float: right;
	width: 28vw;
	margin-top: 1vh;
	margin-left: 2vw;
	margin-bottom: 2vh;
}

.external-button {
	padding: 16px 20px;
	padding-top: 19px;
	text-align: center;
	display: inline-block;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1rem;
	font-weight: 800;
	margin-left: 30px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 4px;
}
  
.external-button {
	background-color: transparent; 
	color: $navy; 
	border: 2px solid $navy;
}
  
.external-button:hover {
	background-color: $navy;
	color: white;
}

.image-w-title-wrapper {
	position: relative;
	width: 28.5vw;
}

.image-w-title {
	width: 28.5vw;
}

.horizontal-img-flexbox {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.floating-label {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: $navy;
	color: white;
	padding: 15px 20px 13px;
	text-transform: uppercase;
	font-family: "Josefin Sans", sans-serif;
}